---
layout: default
---
<div class="home">

    <div class="flex-container">
        <div class="animated bounceInDown">
            <a href="https://github.com/{{ site.github_username }}">
            	<div class="circle githubColor iconCenter">
                    <span class="icon icon-black">{% include icon-github.svg %}</span>
            	</div>
            </a>
        </div>
    
        <div class="animated bounceInDown">
            <a href="https://dribbble.com/daltoniam">
            	<div class="circle dribbbleColor iconCenter">
                    <span class="icon icon-white">{% include icon-dribbble.svg %}</span>
            	</div>
            </a>
        </div>
    
        <div class="animated bounceInDown">
            <a href="https://twitter.com/{{ site.twitter_username }}">
            	<div class="circle twitterColor iconCenter">
                    <span class="icon icon-white">{% include icon-twitter.svg %}</span>
            	</div>
            </a>
        </div>
    </div>

    <div class="flex-container">
        <div class="animated bounceInLeft">
            <a href="https://vluxe.io">
            	<div class="circle vluxeColor iconCenter">
            		<span class="icon icon-white">{% include icon-vluxe.svg %}</span>
            	</div>
            </a>
        </div>
    
        <div class="animated zoomIn">
        	<div class="circle">
        		<img class='circle' src="/assets/avatar-small.png"/>
                <h1 class="mainText">Dalton Cherry</h1>
        	</div>
        </div>
    
        <div class="animated bounceInRight">
            <a href="/assets/resume.pdf">
            	<div class="circle resumeColor iconCenter">
            		<span class="icon icon-white">{% include icon-resume.svg %}</span>
            	</div>
            </a>
        </div>
    </div>    
    
    <div class="flex-container">
        <div class="animated bounceInUp">
            <a href="https://linkedin.com/pub/dalton-cherry/7a/143/29a/">
            	<div class="circle linkedinColor iconCenter">
            		<span class="icon icon-black">{% include icon-linkedin.svg %}</span>
            	</div>
            </a>
        </div>
    
        <div class="animated bounceInUp">
            <a href="mailto:daltoniam@gmail.com">
            	<div class="circle emailColor iconCenter">
            		<span class="icon icon-white">{% include icon-contact.svg %}</span>
            	</div>
            </a>
        </div>
    
        <div class="animated bounceInUp">
            <a href="/about">
            	<div class="circle aboutColor iconCenter">
                    <span class="icon icon-white">{% include icon-about.svg %}</span>
            	</div>
            </a>
        </div>
    </div>

</div>
