<div class="aboutContent">
	<div class="row">
		<div class="bubbleHeaderMain aboutMain bubble col-md-4">
			<i class="fa fa-arrow-left backArrow animated fadeInRight"></i>
			<div class="circle aboutCircle">
				<i class="fa fa-user icon"></i>
				<p class="iconText">About</p>
			</div>
		</div>
		<div class="postHeader col-md-8 animated fadeInRight">
			<p class="postTitle">Dalton Cherry</p>
			<p class="blogHeaderText">A brief, yet informative bio about Dalton</p>
		</div>
	</div>
	<div class="row">
		<div class="postMain col-md-12">
			<div class="postText">
				<p class="animated bounceInRight">Welcome to daltoniam.com the hub, launchpad, and springboard for all things Dalton Cherry related. First things first, why daltoniam? The handle daltoniam spawned when I first started playing video games online. As any self proclaimed nerd has probably already guessed, I got it from Star Wars and what I like to call "Yoda speak". Once I wrote it out, I loved the way it looked and has been my online handle and screen name ever since.</p>				

				<p class="animated bounceInLeft">I currently reside in Bakersfield, California which is some where around here: </p>
				<p class="animated bounceInRight"><img class="aboutImg" src="<%= image_path 'bako_map.jpg' %>"/>My interest in software development start when the first iPhone sdk was released. I was amazed at the possiblities and challeges a mobile platform presented. I ended up starting on the complete opposite specturm however, by developing utilities in C#. As my experience grew and I started to develop a lot for unix based platforms, I expanded my horizon into pure C. It quickly become one of my favorite languages. I enjoyed all the computer science aspects of it and how it was "riding on the bare metal". This opened the door to start learning Objective-C, the language that start it all for me and is now the language I program the most often in.<p>

				<p class="animated bounceInLeft">I have been programming for several years now and consider myself a fairly seasoned computer scientist, but as any scientist should be, I am always looking to learn more and push the bounds of what is possible. I have had exposure to wide variety of technologies and languages, which has given me a broad and deep understanding of computer science. I also actively engage in the open source community to contribute and learn within a vibrant community.<p>

				<p class="animated bounceInRight">In between coding session, I might be found doing one of these great activites: paintball, playing drums, snowboarding, bow shooting, cycling, running, soccer, almost anything that is fast paced. I occasionally play videos and I am scuba certified. One of my life long dreams is to build a real life Iron Man suit. With that, I will end this narcissistic rant (see that rhyme I did there?).</p>
			</div>
		</div>
	</div>
	<div class="bottomPad">
	</div>
</div>