<div class="blogContent">
	<div class="row">
		<div class="bubbleHeaderMain blogMain bubble col-md-4">
			<i class="fa fa-arrow-left backArrow animated fadeInRight"></i>
			<div class="circle blogCircle">
				<i class="fa fa-comment icon"></i>
				<p class="iconText">Blog</p>
			</div>
		</div>
		<div class="postHeader col-md-8 animated fadeInRight">
			<p class="postTitle">Dalton's Thoughts</p>
			<p class="blogHeaderText">Thoughts from Dalton's mind expressed in written form.</p>
		</div>
	</div>
	<div class="row">
		<div class="postMain col-md-12">
			<div class="animated bounceInUp posts">
			</div>
		</div>
	</div>
	<div class="bottomPad">
	</div>
</div>