<div class="mainContent">
	<div class="row aboutPad">
		<div class="animated bounceInDown bubble col-md-4">
			<div class="mainImg">
				<img class='circle' src="http://www.gravatar.com/avatar/2fdc7b889f35118a7334187b15c5b957.png?r=x&s=320"/>
			</div>
		</div>
		<div class="animated bounceInRight bubble mainTextBody col-md-8">
			<h1 class="mainHeader">Dalton Cherry</h1>
			<p class="aboutText">Dalton Cherry. Developer. Disciple. Computer science aficionado. Mobile enthusiast. Drum machine. Paintball extraordinaire. The next American Ninja Warrior. I am a developer based in Bakersfield California. I enjoy making clean, fast, and readable code. I specialize in Objective-C, C, C++ and love making iOS and OS X apps. I have also done work in Ruby on Rails, Backbone.js, Java, Android, as well as writing cross platform C++ code. When I am not writing code, my hobbies include: paintball, playing drums, snowboarding, bow shooting, cycling, running, soccer, and any kind of problem solving.</p>
		</div>
	</div>
	<div class="row">
		<div class="animated bounceInLeft bubble aboutBubble col-md-4">
			<div class="circle aboutCircle">
				<i class="fa fa-user icon"></i>
				<p class="iconText">About</p>
			</div>
		</div>
		<div class="animated bounceInUp bubble blogBubble col-md-4">
			<a href="http://vluxe.io">
				<div class="circle blogCircle">
					<i class="fa fa-comment icon"></i>
					<p class="iconText">Blog</p>
				</div>
			</a>
		</div>
		<div class="animated bounceInRight bubble resumeBubble col-md-4">
				<div class="circle resumeCircle">
					<i class="fa fa-file-text-o icon"></i>
					<p class="iconText">Resume</p>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="animated bounceInLeft bubble projectBubble col-md-4">
			<div class="circle projectCircle">
				<i class="fa fa-folder icon"></i>
				<p class="iconText">Projects</p>
			</div>
		</div>
		<div class="animated bounceInUp bubble githubBubble col-md-4">
			<a href="https://github.com/daltoniam">
				<div class="circle githubCircle">
					<i class="fa fa-github icon iconAlt"></i>
					<p class="iconText iconTextAlt">Github</p>
				</div>
			</a>
		</div>
		<div class="animated bounceInRight bubble twitterBubble col-md-4">
			<a href="https://twitter.com/daltoniam">
				<div class="circle twitterCircle">
					<i class="fa fa-twitter icon"></i>
					<p class="iconText">Twitter</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="animated bounceInLeft bubble stackBubble col-md-4">
			<a href="http://stackoverflow.com/users/712532/daltoniam">
				<div class="circle stackCircle">
					<i class="fa fa-stack-overflow icon iconAlt"></i>
					<p class="iconText iconTextAlt">Stack Overflow</p>
				</div>
			</a>
		</div>
		<div class="animated bounceInUp bubble linkedinBubble col-md-4">
			<a href="https://linkedin.com/pub/dalton-cherry/7a/143/29a/">
				<div class="circle linkedinCircle">
					<i class="fa fa-linkedin icon iconAlt"></i>
					<p class="iconText iconTextAlt">Linkedin</p>
				</div>
			</a>
		</div>
		<div class="animated bounceInRight bubble contactBubble col-md-4">
			<a href="mailto:daltoniam@gmail.com">
				<div class="circle contactCircle">
					<i class="fa fa-envelope icon"></i>
					<p class="iconText">Contact</p>
				</div>
			</a>
		</div>
	</div>
</div>