<div class="row">
	<div class="bubble col-md-4">
		<div class="circle dateCircle">
			<i class="fa fa-calendar-o icon"></i>
			<p class="iconText">{{time}}</p>
		</div>
	</div>
	<div class="postContent" id="{{id}}">
		<p class="postTitle">{{title}}</p>
		<p class="postText">{{text}} <span class="anchorText">Read More</span></p>
	</div>
</div>