<div class="row">
	<div class="bubble col-md-4">
		<div class="circle dateCircle">
			<i class="fa fa-calendar-o icon"></i>
			<p class="iconText">{{time}}</p>
		</div>
	</div>
	<div class="postContent col-md-8" id="{{id}}">
		<p class="postTitle">{{title}}</p>
		<div class="postText">{{& text}} <p class="anchorText">Read More</p></div>
	</div>
</div>