<div class="projectContent">
	<div class="row">
		<div class="bubbleHeaderMain projectMain bubble col-md-4">
			<i class="fa fa-arrow-left backArrow animated fadeInRight"></i>
			<div class="circle projectCircle">
				<i class="fa fa-folder icon"></i>
				<p class="iconText">Projects</p>
			</div>
		</div>
		<div class="postHeader col-md-8 animated fadeInRight">
			<p class="postTitle">Dalton's Projects</p>
			<p class="blogHeaderText">Major projects Dalton has contributed to</p>
			<p><b>Note: </b>only released projects are listed, projects under development will be added once released. Open source libraries are not listed.</p>
		</div>
	</div>
	<div class="projects animated bounceInUp">
		<div class="row">
			<div class="bubble col-md-4">
				<div class="circle dateCircle">
					<i class="fa fa-folder-open icon"></i>
					<p class="iconText">LS</p>
				</div>
			</div>
			<div class="postMain col-md-8">
				<div class="postText">
					<p class="postTitle">Posix Mobile Filter</p>
					<a href="http://www.lightspeedsystems.com/products/web-filter-overview/" class="blogHeaderText aboutImg">Lightspeed Systems</a>
					<img src="/assets/pmf_project.png"/>
					<p class="postText">System service written in C that inspects and redirect packets as decided by a remote lookup server. Has support for Linux, Mac OS X and Android. Also includes delta based updater system, similar to Apple's iOS software updates. </p>			
				</div>
			</div>
		</div>

		<div class="row">
			<div class="bubble col-md-4">
				<div class="circle dateCircle">
					<i class="fa fa-folder-open icon"></i>
					<p class="iconText">LS</p>
				</div>
			</div>
			<div class="postMain col-md-8">
				<div class="postText">
					<p class="postTitle">My Big Campus</p>
					<a href="http://www.lightspeedsystems.com/products/my-big-campus/" class="blogHeaderText aboutImg">Lightspeed Systems</a>
					<img src="/assets/mbc_project.jpg"/>
					<p class="postText">Universal iOS app for My Big Campus. Has a custom UI and great features such as: viewing and creating posts, WYSIWYG editor, schoolwork test taking system, APNs, messaging system, and a file upload, viewing, and management system.</p>			
				</div>
			</div>
		</div>

		<div class="row">
			<div class="bubble col-md-4">
				<div class="circle dateCircle">
					<i class="fa fa-folder-open icon"></i>
					<p class="iconText">Chat Simply</p>
				</div>
			</div>
			<div class="postMain col-md-8">
				<div class="postText">
					<p class="postTitle">Chat Simply</p>
					<a href="http://chatsimply.com/" class="blogHeaderText aboutImg">Chat Simply</a>
					<img src="http://placehold.it/750x450">
					<p class="postText">Universal iOS and Mac OS X app for Chat Simply. Provides a robust chating experience and is built on the well established XMPP standard. It providing great group chat functionality such as: Push notifications, file uploads, message history, intergrations with many top services (github, pivotal, email), and inline content embedding.</p>			
				</div>
			</div>
		</div>
	</div>
	<div class="bottomPad">
	</div>
</div>