<div class="projectContent">
	<div class="row">
		<div class="bubbleHeaderMain projectMain bubble col-md-4">
			<i class="fa fa-arrow-left backArrow animated fadeInRight"></i>
			<div class="circle projectCircle">
				<i class="fa fa-folder icon"></i>
				<p class="iconText">Projects</p>
			</div>
		</div>
		<div class="postHeader col-md-8 animated fadeInRight">
			<p class="postTitle">Dalton's Project</p>
			<p class="blogHeaderText">Major projects Dalton has contributed to</p>
		</div>
	</div>
	<div class="row projects animated bounceInUp">
		<div class="bubble col-md-4">
			<div class="circle dateCircle">
				<i class="fa fa-folder-open icon"></i>
				<p class="iconText">LS</p>
			</div>
		</div>
		<div class="postMain col-md-8">
			<div class="postText">
				<p class="postTitle">Posix Mobile Filter</p>
				<p class="blogHeaderText">Lightspeed Systems</p>
				<p>picture here</p>
				<p class="postText">short description of PMF....</p>			
			</div>
		</div>
	</div>
	<div class="bottomPad">
	</div>
</div>