<div class="resumeContent">
	<div class="row">
		<div class="bubbleHeaderMain resumeMain bubble col-md-4">
			<i class="fa fa-arrow-left backArrow animated fadeInRight"></i>
			<div class="circle resumeCircle">
				<i class="fa fa-file-text-o icon"></i>
				<p class="iconText">Resume</p>
			</div>
		</div>
		<div class="postHeader col-md-8 animated fadeInRight">
			<p class="postTitle">Dalton's Resume</p>
			<p class="blogHeaderText">A short list of things Dalton has accomplished</p>
			<button type="button" class="btn btn-default">Download</button>
		</div>
	</div>
	<div class="row">
		<div class="postMain col-md-12">
			<div class="animated bounceInUp posts">

				<div class="row">
					<div class="bubble col-md-4">
						<div class="circle dateCircle">
							<i class="fa fa-briefcase icon"></i>
							<p class="iconText">Experience</p>
						</div>
					</div>
					<div class="postMain col-md-8">
						<p class="postTitle">EXPERIENCE</p>
						<h2>Developer</h2>
						<h3>Lightspeed Systems</h3>
						<p class="secondPostText">Jan 2011-Present</p>
						<p class="postText">Developed and maintained a system service to do raw TCP/IP packet inspection and redirection in C on multiple POSIX platforms. This included Mac OSX, multiple Linux distributions, and Android systems. Worked with multiple vendors such as Intel and Lenevo to create custom Android boot images with this service to provide content filtering on Android devices. Also assisted in creating scalable RESTFul APIs to work with this filtering service and allow remote configuration and upating of millions of clients. Created a delta based updater for this service similar to Apple's iOS updates. Created and maintained highly custom mobile apps for iOS and Android that included custom UIs and animations, SQL Lite and RESTFul API interactions, custom text parsing and rendering engines, and an array of background notifications such as Apple Push Notifications. </p>
						<h2>Quality Assurance Engineer</h2>
						<h3>Lightspeed Systems</h3>
						<p class="secondPostText">Jan 2011 - Oct 2011</p>
						<p class="postText">Worked in all aspects of testing to ensure quality software. This included: Creating build scripts to create one step builds.Troubleshooting and debugging code to resolve issues. Creating software deployment packages on all major platforms (Windows, Mac OS X, Linux). Writing accurate and update to date test plans. Preformed regression testing and code review. Assisting in any major support escalation and case review for technical accuracy.</p>
						<h2>Technical Support Engineer</h2>
						<h3>Lightspeed Systems</h3>
						<p class="secondPostText">Jan 2010 - Dec 2010</p>
						<p class="postText">Worked in all aspects of customer service and full customer network support finishing 2010 as the highest case taker for the year. Support services included: workload and case management via chat, email, and phone support. Troubleshooting all desktop and server network and software related problems. DNS, DHCP, Active Directory, LDAP, SQL installs, web server installs, Windows and Unix installs. Also provide guidance and recommendation for proper network configuration in implementing software in each customer's network.</p>
						<h2>Anti-Virus Engineer</h2>
						<h3>Lightspeed Systems</h3>
						<p class="secondPostText">Aug 2009 - Jan 2010</p>
						<p class="postText">Worked in all aspects of customer service and desktop Anti-Virus support. This included: troubleshooting and removing virus. Finding and determining samples to have definitions created. OS and network reconfiguration to prevent spread of virus and prevent further infection or reinfection.</p>
						<h2>Training Assistant</h2>
						<h3>Lightspeed Systems</h3>
						<p class="secondPostText">July 2008 - Aug 2009</p>
						<p class="postText">Assisted with all IT related operations. These duties included: installing network cable, server racking, installation, and setup, UPS installation, building server racks and installations, desktop imaging and configuration for over a 100 workstations. Also managed equipment delivery, setup, imaging and troubleshooting for various locations thorughout the US.</p>
						<h2>Pizza Cook</h2>
						<h3>Tony's Pizza</h3>
						<p class="secondPostText">Oct 2007 - Jun 2009</p>
						<p class="postText">Preformed all cook duties including: preparing and cooking pizzas, breadsticks, wedges, wings, and sandwiches. Washing and busing dishes. Taking orders and providing service for customers in person and via telephone.</p>
					</div>
				</div>

				<div class="row">
					<div class="bubble col-md-4">
						<div class="circle dateCircle">
							<i class="fa fa-laptop icon"></i>
							<p class="iconText">Technical</p>
						</div>
					</div>
					<div class="postMain col-md-8">
						<p class="postTitle">TECHNICAL</p>
						<div class="postText">
						<ul>
							<li><b>Languages: </b>Objective-C, C, C++, Ruby, Java, C#, Python, Javascript</li>
							<li><b>Systems: </b>Mac OSX, Linux, Windows, Android</li>
							<li><b>Networking: </b>TCP/IP, SSL, TLS, UDP, DNS</li>
							<li><b>Databases: </b>Postgres, mySQL, SQL Server</li>
						</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="bubble col-md-4">
						<div class="circle dateCircle">
							<i class="fa fa-book icon"></i>
							<p class="iconText">Education</p>
						</div>
					</div>
					<div class="postMain col-md-8">
						<p class="postTitle">EDUCATION</p>
						<p class="postText"><b>The Master's College</b>, Santa Clarita, CA, May 2014</p>
						<p class="postText">Bachelor's in Computer Science</p>
					</div>
				</div>

				<div class="row">
					<div class="bubble col-md-4">
						<div class="circle dateCircle">
							<i class="fa fa-code-fork icon"></i>
							<p class="iconText">Open Source</p>
						</div>
					</div>
					<div class="postMain col-md-8">
						<p class="postTitle">OPEN SOURCE</p>
						<p class="postText">I have contributed over 20 different projects to the open source community. Some notable contributions are:</p>
						<div class="postText">
						<ul>
							<li><b>JSONJoy: </b>Makes working with JSON a joy. Eliminates boilerplate by mapping and validating JSON values to property values.</li>
							<li><b>DCLabel: </b>A text parsing engine and label for parsing and displaying text on iOS. Common use is markdown or HTML parsing and displaying.</li>
							<li><b>UICustomizeKit: </b>Base UIKit components extended via custom drawing APIs to allow almost any customizations.</li>
							<li><b>DCModel: </b>ORM model in Objective-C using CoreData. Similar to Active Record.</li>
							<li><b>RestReaper: </b>Asynchronous RESTFul interaction made fast and easy for iOS and Mac OSX.</li>
							<li><b>GPLib: </b>Cross platform C++ abstraction of commonly used actions such as HTTP request or filesystem access.</li>
						</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="bubble col-md-4">
						<div class="circle dateCircle">
							<i class="fa fa-gift icon"></i>
							<p class="iconText">Volunteer</p>
						</div>
					</div>
					<div class="postMain col-md-8">
						<p class="postTitle">VOLUNTEER</p>
						<h2>Musician</h2>
						<h3>Rexland Chruch</h3>
						<p class="secondPostText">Jan 2009 - Present</p>
						<p class="postText">Play drums on a weekly bases for my church.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
