@import 'bootstrap';
@import 'animate';
@import 'font-awesome';
@import 'medium-editor';
@import 'medium-editor-images-plugin';

$box-height: 720px;
$icon-size: 320px;
$icon-font: 48px;
$header-font: 72px;
$post-header-font: 98px;
$text-font-size: 50px;

$desktop-box-height: 320px;
$desktop-icon-size: 108px;
$desktop-icon-font: 24px;
$desktop-header-font: 48px;
$desktop-post-header-font: 60px;
$desktop-text-font-size: 20px;
body
{
	/*background-color: #ECEADD;*/
	background-color: #ECEADD;
	margin: 0; padding: 0;
}
/*@media (min-width: 1200px) {
  .container 
  {
    max-width: 800px; 
  }
}*/
#app
{
	margin: auto auto;
	text-align: center;
}
.mainContent
{
	margin-top: 10px;
}
h1, h2, h3
{
	text-align: left;
}
h2
{
	@media (max-width: $screen-sm-max) {
		font-size: 60px;
	}
}
h3
{
	@media (max-width: $screen-sm-max) {
		font-size: 48px;
	}
}
p, li, ol
{
	text-align: left;
}
a
{
	text-decoration: none !important;
}
.anchorText
{
	text-align: left;
	color: #428BCA;
	cursor: pointer;
	text-decoration: none !important;
	&:hover {
		color: darken(#428BCA, 20%); 
	}
}
.downloadButton
{
	font-size: 22px;
	float: left;
	color: #fff;
	background: #C0392B;
	&:hover {
		background: darken(#C0392B, 20%); 
		color: #fff;
	}
}
.mainHeader
{
	text-align: center;
	font-size: $header-font;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-header-font;
		text-align: left;
	}
}
.aboutText
{
	text-align: justify;
	margin-top: 20px;
	font-size: 48px;
	@media (min-width: $screen-sm-max) {
		font-size: 18px;
		text-align: left;
	}
}
.aboutPad
{
	margin-bottom: 850px;
	@media (min-width: $screen-sm-max) {
		margin-bottom: 0px;
	}
}
.mainImg
{
	margin-top: 30px;
}
.circle
{
	width:  $box-height - 80;/*240px;*/
	height: $box-height - 80;
	@media (min-width: $screen-sm-max) {
		width:  $desktop-box-height - 80;/*240px;*/
		height: $desktop-box-height - 80;
	}
	border-radius: 50%;
	text-align: center;
	margin: auto auto;
	/*margin-top: 20px;
	line-height: 100px;
	text-align: center;
	background: #000;*/
}
.bubble
{
	border-radius: 50%;
	height: $box-height;
	@media (min-width: $screen-sm-max) {
		height: $desktop-box-height;
	}
}

/* circle colors */
.circle
{
}
.githubCircle
{
	background: #F3F3F3;
	&:hover {
		background: darken(#F3F3F3, 20%); 
  	}
}
.twitterCircle
{
	background: #00ACEE;
	&:hover {
		background: darken(#00ACEE, 20%); 
	}
}
.linkedinCircle
{
	background: #F1C40F;
	&:hover {
		background: darken(#F1C40F, 20%); 
	}
}
.stackCircle
{
	background: #e67e22;
	&:hover {
		background: darken(#e67e22, 20%); 
	}
}
.resumeCircle
{
	background: #C0392B;
	&:hover {
		background: darken(#C0392B, 20%); 
	}
}
.blogCircle
{
	background: #8e44ad;
	&:hover {
		background: darken(#8e44ad, 20%); 
	}
}
.aboutCircle
{
	background: #16a085;
	&:hover {
		background: darken(#16a085, 20%); 
	}
}
.projectCircle
{
	background: #2c3e50;
	&:hover {
		background: darken(#2c3e50, 20%); 
	}
}
.contactCircle
{
	background: #7f8c8d;
	&:hover {
		background: darken(#7f8c8d, 20%); 
	}
}
.dateCircle
{
	background: #3498db;
}

/* icons */
.icon
{
	color: #FFF;
	font-size: $icon-size;
	margin-top: $box-height/6;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-icon-size;
		margin-top: $desktop-box-height/6;
	}
}
.iconAlt
{
	color: #000;
}
.iconText
{
	color: #FFF;
	margin: auto auto;
	text-align: center;
	font-size: $icon-font;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-icon-font;
	}
}
.iconTextAlt
{
	color: #000;
}
.backArrow
{
	color: #000;
	text-align: left;
	float: left;
	margin-top: 90px;
	/*position: absolute;
	margin-top: 30px;
	margin-right: 200px;
	width: 200px;*/
	margin-bottom: 800px;
	font-size: $icon-font*2;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-icon-font*2;
		margin-bottom: 0px;
	}
}
.bubbleHeaderMain
{
	margin-top: 30px;
}

/*blog stuff*/
.blogHeaderText
{
	font-size: $text-font-size;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-text-font-size;
	}
	margin-top: 20px;
	margin-bottom: 20px;
}
.postHeader
{
	@media (min-width: $screen-sm-max) {
		margin-top: 80px;
	}
	height: 270px;
}
.postMain
{
	/*margin-top: 110px;*/
}
.postContent
{
	/*margin-top: 70px;*/
}
.postTitle
{
	text-align: center;
	font-weight: bold;
	font-size: $header-font;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-header-font;
		text-align: left;
	}
}
.postText
{
	font-size: $text-font-size;
	line-height: 1.5;
	font-weight: 200;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-text-font-size;
	}
}
.noImg
{
	margin-top: 80px;
}
.secondPostText
{
	font-size: $text-font-size - 8;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-text-font-size - 4;
	}
	color: #666;

}
.blogPostContent
{
	margin-top: 30px;
}
.blogPostHeader
{
	/*margin-top: 80px;
	margin-bottom: 10px;*/
	/*line-height: 230px;*/
	min-height: 230px;
    display: table-cell;
    vertical-align: middle;
}
.blogPostTitle
{
	text-align: center;
	font-weight: bold;
	font-size: $post-header-font;
	@media (min-width: $screen-sm-max) {
		font-size: $desktop-post-header-font;
		text-align: left;
	}
}
.blogPostBubble
{
	height: 270px;
}
.signInContent
{
	background-color: #FFF;
}
.modal-content
{
	text-align: left;
}
.editable
{
	height: 300px;
	background: #fff;
	overflow: scroll;
}
#previewBox
{
	height: 200px;
}
#contentBox
{
	height: 600px;
}
.mediumImages-addImage
{
	/* simple hack to get add image link to show in line */
	margin: 0 0 0 0px;
}
.signout
{
	float: right;
}
.rightLink
{
	float: right;
}
.dividerLine
{
	color: #bdc3c7;
    background: #bdc3c7; 
	height: 0.5px;
}

/* about page */
.aboutImg
{
	float: left;
}
.bottomPad
{
	margin-bottom: 70px;
}
